<%= for n <- 1..100 do %>
  <% color = ~w(red green yellow black purple) |> Enum.shuffle |> List.first %>
  <div id="square-<%= n %>" class="square <%= color %>" data-id="square-<%= n %>">
  </div>
<% end %>
